<div class="contact">

  <div class="max-width">
    <h2 class="title">Call Me, Now!</h2>
    <img src="/assets/images/hilmiarizal.png" alt="img-hilmi" width="100%">
    <div class="text">Hello everyone, let me introduce my self!</div>
    <div class="contact-content">
      <div class="column left">
        <div class="contact-card">
          <ul>
            <li>
              <div><i class="fa fa-user"></i></div>
              <span>
                <div>Fullname</div>
                <span>Hilmi Arizal Santoso</span>
              </span>
            </li>
            <li>
              <div><i class="fa fa-calendar"></i></div>
              <span>
                <div>Place, Date of Birth</div>
                <span>Bandung, September 28, 1997</span>
              </span>
            </li>
            <li>
              <div><i class="fa fa-map-marker"></i></div>
              <span>
                <div>Address</div>
                <span>Caringin Street, No. 60B, Bandung</span>
              </span>
            </li>
            <li>
              <div><i class="fa fa-phone"></i></div>
              <span>
                <div>Phone Number</div>
                <span>+6285156371589</span>
              </span>
            </li>
            <li>
              <div><i class="fa fa-envelope"></i></div>
              <span>
                <div>Email</div>
                <span>hilmi.arizal36@gmail.com</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="column right">
        <ul>
          <li>
            <div><i class="fa fa-instagram"></i></div>
            <span><a href="https://www.instagram.com/hilmiarizal/" target="_blank"
                rel="noopener noreferrer">https://www.instagram.com/hilmiarizal/</a></span>
          </li>
          <li>
            <div><i class="fa fa-twitter"></i></div>
            <span><a href="https://twitter.com/hilmiarizal" target="_blank"
                rel="noopener noreferrer">https://twitter.com/hilmiarizal</a></span>
          </li>
          <li>
            <div><i class="fa fa-facebook"></i></div>
            <span><a href="https://www.facebook.com/hilmi.arizal/" target="_blank"
                rel="noopener noreferrer">https://www.facebook.com/hilmi.arizal/</a></span>
          </li>
          <li>
            <div><i class="fa fa-github"></i></div>
            <span><a href="https://github.com/HilmiArizal" target="_blank"
                rel="noopener noreferrer">https://github.com/HilmiArizal</a></span>
          </li>
          <li>
            <div><i class="fa fa-linkedin"></i></div>
            <span><a href="https://www.linkedin.com/in/hilmiarizal/" target="_blank"
                rel="noopener noreferrer">https://www.linkedin.com/in/hilmiarizal/</a></span>
          </li>
          <li>
            <div><i class="fa fa-chrome"></i></div>
            <span><a href="http://hilmiarizal.herokuapp.com/">http://hilmiarizal.herokuapp.com/</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
