<div class="body-header">

  <nav class="navbar">
    <div class="max-width">
      <div class="logo">
        <div>Portfo<span>lio.</span></div>
      </div>

      <ul class="menu">
        <li class="menu-btn" (click)="routerScroll('home')">
          <div>Home</div>
        </li>
        <li class="menu-btn" (click)="routerScroll('about')">
          <div>About</div>
        </li>
        <li class="menu-btn" (click)="routerScroll('skill')">
          <div>Skill</div>
        </li>
        <li class="menu-btn" (click)="routerScroll('project')">
          <div>Project</div>
        </li>
        <li class="menu-btn" (click)="routerScroll('contact')">
          <div>Contact</div>
        </li>
      </ul>

      <div class="menu-btn">
        <i class="fa fa-bars"></i>
      </div>

    </div>
  </nav>

</div>
