<div class="body-header">

  <nav class="navbar">
    <div class="max-width">
      <div class="logo">
        <div>Portfo<span>lio.</span></div>
      </div>

      <ul class="menu">
        <li>
          <div>Home</div>
        </li>
        <li>
          <div>About</div>
        </li>
        <li>
          <div>Skill</div>
        </li>
        <li>
          <div>Project</div>
        </li>
        <li>
          <div>Contact</div>
        </li>
      </ul>

      <div class="menu-btn">
        <i class="fa fa-bars"></i>
      </div>

    </div>
  </nav>

</div>
