<div class="body-home">

  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text">Hello, i'm</div>
        <div class="text">Hilmi Arizal</div>
        <div class="text">And I'm a <span>FrontEnd Developer</span></div>
        <div class="text">Hire me</div>
      </div>
    </div>
  </section>

  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">About Me</h2>
      <div class="about-content">
        <div class="column left">
          <img src="../../../assets/images/vespa-hilmi.png" alt="img-hilmi">
        </div>
        <div class="column right">
          <div class="text">I'm Hilmi Arizal and I'm a <span>FrontEnd Developer</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum magni numquam quaerat accusantium est
            alias libero nihil, voluptatem a commodi, et facere. Delectus voluptatibus mollitia, veniam voluptate quod,
            nisi blanditiis sunt iure ut nesciunt quae provident enim praesentium? Itaque voluptatem, illum neque
            suscipit laborum quisquam incidunt commodi omnis non, vel expedita inventore quas blanditiis natus rerum cum
            repellendus quos repudiandae!</p>
            <a href="#">Download CV</a>
        </div>
      </div>
    </div>
  </section>


</div>
