<div class="body-home">

  <!-- HOME -->
  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text"> Hello, i'm</div>
        <div class="text">Hilmi Arizal</div>
        <div class="text">And I'm a <span>FrontEnd Developer</span></div>
        <div class="text">Hire me</div>
      </div>
    </div>
  </section>

  <!-- ABOUT -->
  <section id="about">
    <app-about></app-about>
  </section>

  <!-- SKILL -->
  <section id="skill">
    <app-skill></app-skill>
  </section>

</div>
