<div class="body-home">

  <!-- HOME -->
  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text">Hello, i'm</div>
        <div class="text">Hilmi Arizal</div>
        <div class="text">And I'm a <span>FrontEnd Developer</span></div>
        <div class="text">Hire me</div>
      </div>
    </div>
  </section>

  <!-- ABOUT -->
  <section class="about" id="about">
    <div class="max-width">
      <h2 class="title">About Me</h2>
      <div class="about-content">
        <div class="column left">
          <img src="../../../assets/images/vespa-hilmi.png" alt="img-hilmi">
        </div>
        <div class="column right">
          <div class="text">I'm Hilmi Arizal and I'm a <span>FrontEnd Developer</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum magni numquam quaerat accusantium est
            alias libero nihil, voluptatem a commodi, et facere. Delectus voluptatibus mollitia, veniam voluptate quod,
            nisi blanditiis sunt iure ut nesciunt quae provident enim praesentium? Itaque voluptatem, illum neque
            suscipit laborum quisquam incidunt commodi omnis non, vel expedita inventore quas blanditiis natus rerum cum
            repellendus quos repudiandae!</p>
          <a href="#">Download CV</a>
        </div>
      </div>
    </div>
  </section>

  <!-- SKILL -->
  <section class="skill" id="skill">
    <div class="max-width">
      <h2 class="title">My Skills</h2>
      <div class="skill-content">
        <div class="column left">
          <div class="text">My Creative Skills & Experience</div>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident dolorem ipsa excepturi repellat amet
            quaerat soluta eos! Doloribus atque consequatur deleniti officia magni unde beatae! Voluptas, dignissimos
            amet soluta quam quibusdam dolorum facere fugit exercitationem quo ab sunt, repellendus perferendis quis!
            Sed possimus omnis at aliquam officia facere architecto iste, eius eos facilis minus delectus eum
            dignissimos quaerat mollitia! Labore.</p>
          <a href="#">Read more</a>
        </div>
        <div class="column right" *ngIf="dataSkill;else dataEmpty">
          <div *ngFor="let item of dataSkill">
            <div class="bars">
              <div class="info">
                <span>{{item.skill}}</span>
                <span>{{item.percentage}}%</span>
              </div>
              <div class="line {{item.skill}}"></div>
            </div>
          </div>
        </div>
        <ng-template #dataEmpty>
          Data Is Empty
        </ng-template>
      </div>
    </div>
  </section>

</div>
