footer{
    font-family: 'Poppins', sans-serif;
    background: #111;
    color: #fff;
    padding: 20px 23px; 
    text-align: center;
}

footer span a{
    color: #0096FF;
}

footer span a:hover{
    text-decoration: underline;
}